@import "tailwindcss";
@import "@heroui/styles";

@source "../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}";

@theme {
  --color-background: #fcfcfc;
  --color-foreground: #09090b;
  
  --color-surface: #ffffff;
  --color-on-surface: #09090b;
  --color-on-surface-variant: #52525b;
  
  --color-outline: #94a3b8;
  --color-outline-variant: #e2e8f0;
  
  --color-primary: #0f172a;
  --color-on-primary: #ffffff;
  --color-primary-container: #f1f5f9;
  --color-on-primary-container: #0f172a;
  
  --color-secondary: #475569;
  --color-secondary-container: #f1f5f9;
  --color-on-secondary-container: #0f172a;
  
  --color-tertiary: #4f46e5;
  --color-tertiary-container: #e0e7ff;
  --color-on-tertiary-container: #4f46e5;
  --color-tertiary-fixed: #e0f2fe;
  --color-on-tertiary-fixed: #0369a1;
  --color-tertiary-fixed-dim: #bae6fd;
  
  --color-error: #ef4444;
  --color-error-container: #fee2e2;
  --color-on-error-container: #991b1b;
  
  --color-surface-container-lowest: #ffffff;
  --color-surface-container-low: #f8fafc;
  --color-surface-container: #f1f5f9;
  --color-surface-container-high: #e2e8f0;
  --color-surface-container-highest: #cbd5e1;
  
  --color-surface-bright: #ffffff;
  --color-surface-dim: #f1f5f9;
  --color-inverse-surface: #0f172a;
  --color-inverse-on-surface: #f8fafc;

  --font-sans: "Geist", "Inter", sans-serif;
}

:root {
  --background: #fcfcfc;
  --foreground: #09090b;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

.cell-locked-pattern {
  background-color: #f8fafc;
  background-image: radial-gradient(#cbd5e1 0.75px, transparent 0.75px);
  background-size: 8px 8px;
}

.holiday-pattern {
  background-color: #f5f3ff;
  background-image: radial-gradient(#c7d2fe 1px, transparent 1px);
  background-size: 8px 8px;
}

.weekend-pattern {
  background-color: #fcfcfc;
  background-image: radial-gradient(#e4e4e7 1px, transparent 1px);
  background-size: 8px 8px;
}



.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 10px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}
